body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: "dico-mono", mono;
  font-weight: 400;
  font-style: normal;
  background: center/cover no-repeat;
  background-size: 50vh;
  background-attachment: fixed;
  transition: background 0.5s ease, backdrop-filter 0.5s ease;
  color: #ffffff;
}

#left {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  background: rgb(17, 17, 17);
  padding: 20px;
  box-sizing: border-box;
}

#right {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  background: rgb(17, 17, 17);
  padding: 20px;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 5px;
  color: rgb(255, 255, 255);
  font-size: 100px;
  padding: 15px;
  transition: font-size 0.3s, padding 0.3s;
  z-index: 1000;
  background-color: white;
  width: 100%;

  background: rgb(17, 17, 17);
}

.header.shrink {
  font-size: 20px;
  padding: 10px;
}

.last-name {
  position: fixed;
  bottom: 9px;
  right: 50px;
  font-size: 50px;
  transition: transform 0.3s ease, font-size 0.3s ease;
  z-index: 1000;
}

.grow {
  transform: scale(1.3);
  font-size: 3rem;
}

.content {
  padding-top: 120px;
}

.project {
  color: #ffffff;
  border: solid 1px rgb(255, 255, 255); 
  margin: 10px 0;
  padding: 10px;
  width: fit-content;
  background: rgb(17, 17, 17);
  cursor: pointer;
  border-style:5px  #ffff;

}

#image-preview {
  display: none;
  position: fixed;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#image-preview img {
  width: 400px;
  height: auto;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

#content, html, body {
  height: 98%;
}


#popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-family: "dico-mono", mono;
  font-weight: 400;
  font-style: normal;
}
#popup-box {
  background: #111;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
}
#popup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-family: "dico-mono", mono;
  font-weight: 400;
  font-style: normal;
}

.picture
{
  height:30vh;
  width: 20vw;

}

.box{
  width: 100px;
  height: 100px;
  background: darkolivegreen;
  transition: background .3s;
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.buttons{

  top: 10px;
  left: 10px;
}



.picture img.grayscale {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

body 


.kramer{
  height:20vh;
  width: 10vw;
  border: black solid;
  border: black solid;
}


body{
  background: rgb(17, 17, 17);
}

.square3
{
  position: absolute;
  float: left;
  margin-top: 330px;
  margin-left:350px;
  width:61px;
  height:77px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index:28;
}

.square4
{
  position: absolute;
  float: left;
  margin-top: 225px;
  margin-left:200px;
  width:100px;
  height:210px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  z-index:27;
  
}

.square5
{
  position: absolute;
  float: left;
  margin-left: 250px;
  margin-top: 100px;
  width:150px;
  height:200px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  z-index: 26;
  

}

.square6
{
  position: absolute;
  float: left;
  margin-left: 320px;
  margin-top: 150px;
  width:150px;
  height:200px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  z-index: 25;
 

}

.square7
{
  position: absolute;
  float: left;
  margin-left: 400px;
  margin-top: 396px;
  width:100px;
  height:130px;
  animation-name: float;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;;
    animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index: 24;


}

.square8
{
  position: absolute;
  float: left;
  margin-left: 410px;
  margin-top: 479px;
  width:115px;
  height:130px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  z-index: 23;
  
}

.square10
{
  position: absolute;
  float: left;
  margin-left: 124px;
  margin-top: 346px;
  width:318px;
  height:122px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index: 22;

}

.square9
{
  position: absolute;
  float: left;
  margin-left: 151px;
  margin-top: 300px;
  width:318px;
  height:122px;
  background: rgb(17, 17, 17);;
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  z-index: 22;
 

}

.square11
{
  position: absolute;
  float: left;
  margin-left: 185px;
  margin-top: 139px;
  width:72px;
  height:75px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  z-index: 22;


}

.square12
{
  position: absolute;
  float: left;
  margin-left: 133px;
  margin-top: 148px;
  width:78px;
  height:137px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  z-index: 22;


}

.square13
{
  position: absolute;
  float: left;
  margin-left: 90px;
  margin-top: 103px;
  width:16px;
  height:21px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  z-index: 22;


}

.square14
{
  position: absolute;
  float: left;
  margin-left: 500px;
  margin-top: 200px;
  width:16px;
  height:21px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  z-index: 22;


}

.square15
{
  position: absolute;
  float: left;
  margin-top: 457px;
  margin-left:251px;
  width:100px;
  height:84px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  z-index:27;
  
}


.square16
{
  position: absolute;
  float: left;
  margin-top: 331px;
  margin-left:117px;
  width:100px;
  height:287px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  z-index:27;


}

.square17
{
  position: absolute;
  float: left;
  margin-top: 297px;
  margin-left:70px;
  width:63px;
  height:111px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  z-index:26;
  

}

.square18
{
  position: absolute;
  float: left;
  margin-top: 230px;
  margin-left:430px;
  width:90px;
  height:130px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index:29;


}

.square19
{
  position: absolute;
  float: left;
  margin-top: 510px;
  margin-left:246px;
  width:154px;
  height:83px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index:22;
  

}

.square19
{
  position: absolute;
  float: left;
  margin-top: 440px;
  margin-left:510px;
  width:36px;
  height:100px;
  background: rgb(17, 17, 17);
  border: 1px solid #ffffff;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  z-index:29;
  
}

.container
{
  width:450pt;
  height: 500pt;
  margin-top: 60px;
  display: flex;
}




@keyframes float {
	0% {
	
    
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}


body {
  background: rgb(17, 17, 17);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  rgb(17, 17, 17); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

hr {
  border-top: 1px solid rgb(255, 255, 255);
}


.custom-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-family: "dico-mono", mono;
}

.custom-popup-box {
  background: #111;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
}

.custom-popup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-family: "dico-mono", mono;
}
